*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

ul li{
    background: lightblue;
    float: left;
    width: 33.33%;
    padding: 10px;
    border-right: 4px grey solid;
}

ul li:last-child{            /* Esta pseudo clase me permite agarrar el ultimo li hijo de un ul, que este caso es la columna yahoo*/
    border-right: none;
}

ul li:hover{
    background-color: blue;
}


ul li a{
    text-decoration: none; 
    color: white;
    display: block;
    text-align: center;
}

@media only screen and (min-width:800px){    /*Media query --> Se utilizan para dar formato a las pantallas de acuerdo a su tamaño*/
    ul li{
        float: none;
        border-right: 0;
        border-bottom: 4px grey solid;
        position: relative;
        left: -50px;
        transition: left 1s ease-in;
    }
}

ul li:last-child{
    border-bottom: none;
}

ul li:hover{
    left:0px;
}

